<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ontario"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-ontario-aqhi></app-ontario-aqhi>

  <ion-card *ngIf="rec">
    <ion-card-header>
      <ion-card-title>City: {{ rec.city }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Temperature: {{ rec.temperatureC }} °C</p>
      <p>AQHI: {{ rec.aqhi }}</p>
    </ion-card-content>
  </ion-card>

  <button class="pill-btn" (click)="sendMessage()">Send Message</button>
</ion-content>
